body {
    background: rgb(0, 120, 162);
    background: linear-gradient(90deg, rgba(0, 120, 162, 1) 0%, rgba(0, 189, 255, 1) 50%, rgba(0, 120, 162, 1) 100%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 350px;
}